header{
   display: flex;
   justify-content: space-between;
   align-items: center;
    color: white;
    padding:16px 30px ;
}
.list ul li a{
    color:white ;
    margin: 0 15px;
    text-decoration: none;
    transition: 0.3s;

}
.list ul li a:hover{
    color: #ffd700;
}
.apply-btn{
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}
