.main{
    background-color: azure;
    color:white ;
    padding: 50px 20px;
}
.demoButton{
    background-color: white;
    border: none;
    cursor: pointer;
    font-size: 15px;
    padding: 10px 20px;
}
